# Deep Learning Exercise - House Prices

### (1) Import data and libraries

In [1]:
# Import pandas, keras, and train_test_split from sklearn
import pandas as pd

# Import Sequential to build a sequence of
# layers (input, output, and hidden layers)
from keras.models import Sequential

from keras.layers import *

from sklearn.model_selection import train_test_split

In [2]:
# Import the data
house_df = pd.read_csv('./ml_house_data_set_scaled.csv')

In [3]:
# Preview the data (with .head())
house_df.head()

,year_built,stories,num_bedrooms,full_bathrooms,half_bathrooms,livable_sqft,total_sqft,garage_sqft,carport_sqft,has_fireplace,...,city_South Anthony,city_South Stevenfurt,city_Toddshire,city_Wendybury,city_West Ann,city_West Brittanyview,city_West Gerald,city_West Gregoryview,city_West Lydia,city_West Terrence
0,0.763636,0.25,0.129032,0.125,1.0,0.136353,0.120047,0.061524,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.642424,0.25,0.096774,0.125,1.0,0.160126,0.129306,0.055996,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.909091,0.25,0.096774,0.250,0.0,0.127649,0.101852,0.000481,0.067935,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.921212,0.25,0.129032,0.250,0.0,0.147635,0.147112,0.058039,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.933333,0.25,0.129032,0.250,0.0,0.127569,0.112924,0.052151,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# Extract labels and features
features_df = house_df.drop('sale_price', axis=1, inplace=False)
labels_df = house_df['sale_price']

### (2) Train/Test Split with Sklearn

In [10]:
# Use train_test here
# Note:
# No need for the validation data. Use train_test_split() only once.
trainF, testF, trainL, testL = train_test_split(features_df, labels_df, test_size=0.4, random_state=36)

### (3) Build the Neural Network

In [6]:
# Use Sequential here...
model_dl = Sequential()

# Input Layer
model_dl.add(
    Dense(50, input_dim=63, activation='relu')
)

# Hidden Layers
model_dl.add(
    Dense(100, activation='relu')
)
model_dl.add(
    Dense(50, activation='relu')
)


# Output Layer
model_dl.add(
    Dense(1, activation='linear')
)

In [9]:
model_dl.compile(
    loss='mean_squared_error',
    optimizer='adam'
)

In [11]:
model_dl.fit( trainF, trainL, epochs=50, shuffle=True, verbose=2 )

Epoch 1/50
801/801 - 2s - loss: 1.7716e-04 - 2s/epoch - 2ms/step
Epoch 2/50
801/801 - 1s - loss: 1.0883e-04 - 1s/epoch - 1ms/step
Epoch 3/50
801/801 - 1s - loss: 9.9587e-05 - 1s/epoch - 1ms/step
Epoch 4/50
801/801 - 1s - loss: 9.9307e-05 - 1s/epoch - 1ms/step
Epoch 5/50
801/801 - 1s - loss: 9.2990e-05 - 1s/epoch - 1ms/step
Epoch 6/50
801/801 - 1s - loss: 9.3281e-05 - 1s/epoch - 1ms/step
Epoch 7/50
801/801 - 1s - loss: 8.9955e-05 - 1s/epoch - 1ms/step
Epoch 8/50
801/801 - 1s - loss: 9.2073e-05 - 1s/epoch - 1ms/step
Epoch 9/50
801/801 - 1s - loss: 8.6082e-05 - 1s/epoch - 2ms/step
Epoch 10/50
801/801 - 2s - loss: 8.8592e-05 - 2s/epoch - 2ms/step
Epoch 11/50
801/801 - 1s - loss: 8.9091e-05 - 1s/epoch - 1ms/step
Epoch 12/50
801/801 - 1s - loss: 8.1871e-05 - 1s/epoch - 1ms/step
Epoch 13/50
801/801 - 1s - loss: 8.3195e-05 - 1s/epoch - 1ms/step
Epoch 14/50
801/801 - 1s - loss: 8.0898e-05 - 1s/epoch - 1ms/step
Epoch 15/50
801/801 - 1s - loss: 8.3191e-05 - 1s/epoch - 1ms/step
Epoch 16/50
801/801 - 1s - loss: 8.4809e-05 - 1s/epoch - 1ms/step
Epoch 17/50
801/801 - 1s - loss: 8.0886e-05 - 1s/epoch - 1ms/step
Epoch 18/50
801/801 - 1s - loss: 8.0192e-05 - 1s/epoch - 1ms/step
Epoch 19/50
801/801 - 1s - loss: 8.1483e-05 - 1s/epoch - 1ms/step
Epoch 20/50
801/801 - 1s - loss: 8.1538e-05 - 1s/epoch - 1ms/step
Epoch 21/50
801/801 - 1s - loss: 7.8193e-05 - 1s/epoch - 1ms/step
Epoch 22/50
801/801 - 1s - loss: 8.0715e-05 - 1s/epoch - 2ms/step
Epoch 23/50
801/801 - 2s - loss: 8.1159e-05 - 2s/epoch - 3ms/step
Epoch 24/50
801/801 - 1s - loss: 8.0604e-05 - 1s/epoch - 2ms/step
Epoch 25/50
801/801 - 1s - loss: 7.5514e-05 - 1s/epoch - 1ms/step
Epoch 26/50
801/801 - 1s - loss: 7.7141e-05 - 1s/epoch - 1ms/step
Epoch 27/50
801/801 - 2s - loss: 7.7967e-05 - 2s/epoch - 2ms/step
Epoch 28/50
801/801 - 1s - loss: 7.5170e-05 - 1s/epoch - 1ms/step
Epoch 29/50
801/801 - 1s - loss: 7.8229e-05 - 1s/epoch - 1ms/step
Epoch 30/50
801/801 - 1s - loss: 7.6550e-05 - 1s/epoch - 1ms/step
Epoch 31/50
801/801 - 1s - loss: 7.4857e-05 - 1s/epoch - 1ms/step
Epoch 32/50
801/801 - 1s - loss: 7.5721e-05 - 1s/epoch - 1ms/step
Epoch 33/50
801/801 - 1s - loss: 7.6749e-05 - 1s/epoch - 1ms/step
Epoch 34/50
801/801 - 1s - loss: 7.6855e-05 - 1s/epoch - 1ms/step
Epoch 35/50
801/801 - 1s - loss: 7.4366e-05 - 1s/epoch - 1ms/step
Epoch 36/50
801/801 - 1s - loss: 7.3613e-05 - 1s/epoch - 1ms/step
Epoch 37/50
801/801 - 1s - loss: 8.1819e-05 - 1s/epoch - 1ms/step
Epoch 38/50
801/801 - 1s - loss: 8.2019e-05 - 1s/epoch - 1ms/step
Epoch 39/50
801/801 - 1s - loss: 7.9175e-05 - 1s/epoch - 1ms/step
Epoch 40/50
801/801 - 1s - loss: 7.4172e-05 - 1s/epoch - 2ms/step
Epoch 41/50
801/801 - 3s - loss: 7.6531e-05 - 3s/epoch - 3ms/step
Epoch 42/50
801/801 - 2s - loss: 7.4180e-05 - 2s/epoch - 3ms/step
Epoch 43/50
801/801 - 2s - loss: 7.3845e-05 - 2s/epoch - 2ms/step
Epoch 44/50
801/801 - 2s - loss: 7.1983e-05 - 2s/epoch - 2ms/step
Epoch 45/50
801/801 - 2s - loss: 7.2375e-05 - 2s/epoch - 3ms/step
Epoch 46/50
801/801 - 2s - loss: 7.3000e-05 - 2s/epoch - 3ms/step
Epoch 47/50
801/801 - 1s - loss: 7.1835e-05 - 1s/epoch - 1ms/step
Epoch 48/50
801/801 - 2s - loss: 7.3996e-05 - 2s/epoch - 2ms/step
Epoch 49/50
801/801 - 1s - loss: 7.2633e-05 - 1s/epoch - 2ms/step
Epoch 50/50
801/801 - 1s - loss: 7.2722e-05 - 1s/epoch - 2ms/step

### (4) Evaluate Metrics for Train

In [13]:
mse_train = model_dl.evaluate( trainF, trainL, verbose=0 )
print('%f' % mse_train)

0.000073

### (5) Evaluate Metrics for Test

In [14]:
mse_test = model_dl.evaluate( testF, testL, verbose=0 )
print('%f' % mse_test)

0.000060

### (6) Predict Sample Data

In [15]:
# Import sample data
sample_house = pd.read_csv('./sample_house.csv')
sample_house.head()

,year_built,stories,num_bedrooms,full_bathrooms,half_bathrooms,livable_sqft,total_sqft,garage_sqft,carport_sqft,has_fireplace,...,city_South Anthony,city_South Stevenfurt,city_Toddshire,city_Wendybury,city_West Ann,city_West Brittanyview,city_West Gerald,city_West Gregoryview,city_West Lydia,city_West Terrence
0,0.763636,0.25,0.129032,0.125,1,0.136353,0.120047,0.061524,0,1,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# Predict labels for sample data
predicted_sale_price = model_dl.predict(sample_house.values)
predicted_sale_price

array([[0.01573426]], dtype=float32)

In [17]:
# Print the unscaled predicted sale price
predicted_sale_price = predicted_sale_price[0][0] + 0.000030
predicted_sale_price = predicted_sale_price/0.0000000475
predicted_sale_price

331879.0592394377