# Titanic: Train, Validation, Split

In [1]:
import pandas as pd
# Import the function to split the data
# for the different stages of training the
# model
from sklearn.model_selection import train_test_split

In [2]:
titanicDf_cleaned = pd.read_csv('./titanic_cleaned.csv')

In [3]:
# Preview the data that was feature-engineered
titanicDf_cleaned.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  cabin_ind
0         0       3    0  22.0      1      0   7.2500         1          0
1         1       1    1  38.0      1      0  71.2833         3          1
2         1       3    1  26.0      0      0   7.9250         1          0
3         1       1    1  35.0      1      0  53.1000         1          1
4         0       3    0  35.0      0      0   8.0500         1          0

In [4]:
# Subset of dataframe for the label
labelDf = titanicDf_cleaned['Survived']
featuresDf = titanicDf_cleaned.drop('Survived', axis=1, inplace=False)

In [5]:
# Preview the label dataframe
labelDf.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [6]:
# Preview the label dataframe
featuresDf.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  cabin_ind
0       3    0  22.0      1      0   7.2500         1          0
1       1    1  38.0      1      0  71.2833         3          1
2       3    1  26.0      0      0   7.9250         1          0
3       1    1  35.0      1      0  53.1000         1          1
4       3    0  35.0      0      0   8.0500         1          0

In [7]:
# Split the data into 60/20 for train and test split
trainF, testF, trainL, testL = train_test_split(featuresDf, labelDf, test_size=0.4, random_state=55)

# Further split the test into 50/50 for test and validation
testF, valF, testL, valL = train_test_split(testF, testL, test_size=0.5, random_state=55)

In [8]:
trainF.to_csv('./train_features.csv', index=False)
trainL.to_csv('./train_labels.csv', index=False)

valF.to_csv('./val_features.csv', index=False)
valL.to_csv('./val_labels.csv', index=False)

testF.to_csv('./test_features.csv', index=False)
testL.to_csv('./test_labels.csv', index=False)