# Game Sales: Prediction with Deep Learning

In [ ]:
import pandas as pd

# Import Sequential to build a sequence of
# layers (input, output, and hidden layers)
from keras.models import Sequential

from keras.layers import *

In [ ]:
train_df = pd.read_csv('./sales_data_train_scaled.csv')
test_df = pd.read_csv('./sales_data_test_scaled.csv')

In [ ]:
train_df.head()

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,0.500000,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.374714,1.0
1,0.833333,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.192425,0.5
2,0.333333,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.114852,0.5
3,0.833333,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.142452,0.0
4,0.666667,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.480682,1.0

In [ ]:
labels_df = train_df['total_earnings']
features_df = train_df.drop('total_earnings', axis=1, inplace=False)

### Build the Neural Network

In [ ]:
model_dl = Sequential()

# Input Layer
model_dl.add(
    Dense(50, input_dim=9, activation='relu')
)

# Hidden Layers
model_dl.add(
    Dense(100, activation='relu')
)
model_dl.add(
    Dense(50, activation='relu')
)


# Output Layer
model_dl.add(
    Dense(1, activation='linear')
)

In [ ]:
# Loss is the technique used to calculate the metric
# Optimizer is the algorithm used to find the best hyperparameters
# Note: 
# ADAM (ADaptive Moment Estimation)
# The ADAM algoritm uses gradient descent 
# to find the global minima of the weight space

model_dl.compile(
    loss='mean_squared_error',
    optimizer='adam'
)

### Train and Evaluate Model

In [ ]:
# features_df contains the features of training data
# labels_df contains the labels for training data
# epochs is the number of times to propogate the data
# shuffle will randomize the data before training
# verbose will control what information will be logged during training
model_dl.fit( features_df, labels_df, epochs=50, shuffle=True, verbose=2 )

In [ ]:
# Extract features and labels from train data
features_train = train_df.drop('total_earnings', axis=1).values
labels_train = train_df[['total_earnings']].values

In [ ]:
# MSE Train
mse_train = model_dl.evaluate( features_train, labels_train, verbose=0 )
print( 'MSE Train: ', mse_train  )

In [ ]:
# Extract features and labels from test data
features_test = test_df.drop('total_earnings', axis=1).values
labels_test = test_df[['total_earnings']].values

In [ ]:
# MSE Test
mse_test = model_dl.evaluate( features_test, labels_test, verbose=0 )
print( 'MSE Test: ', mse_test  )

MSE Test:  0.00097703468054533

In [ ]:
# Predict with the model
new_product_df = pd.read_csv('./new_product.csv')
new_product = new_product_df.values

# Predict the label of the new product
predictes_sales = model_dl.predict(new_product)

predictes_sales

array([[0.29026964]], dtype=float32)

In [ ]:
prediction_scalar = predictes_sales[0][0] # 0.29026964
prediction_scalar = prediction_scalar + 0.115913
prediction_unscaled = prediction_scalar/0.0000036968
prediction_unscaled

109874.11898623501

In [ ]:
[
 12,
 3,
 56,
 34,
 23,
]


[
 ...,
 0,
 1,
 ...,
 ...,
 ...
]