# Examples with String Methods

In [57]:
# Python String Methods
# https://www.w3schools.com/python/python_ref_string.asp

# Pandas Series Methods
# https://pandas.pydata.org/docs/reference/series.html

In [58]:
import pandas as pd

### Creating DataFrame from Dictionary

In [59]:
brands = [
    'nokia',
    'sony',
    'tesla',
    'toyota',
    'nissan'
]

In [60]:
df_dict = {
    'brands': [ 'nokia', 'sony', 'tesla', 'toyota', 'nissan'],
    'origin': [ 'Finland', 'Japan', 'US', 'Japan', 'Japan' ],
    'business_type': ['telecom', 'electronics', 'automotive', 'automotive', 'automotive']
}

sample_df = pd.DataFrame(data=df_dict)

In [61]:
def capitalization(s):
    return s.capitalize()


brands_mapped = map(capitalization, brands)
brandsFixed = list(brands_mapped)

### Using .map() and .apply()

In [62]:
# .map(dict OR function) 
# - Series 

# .apply(function)
# - Series or DataFrame


sample_df['brands'] = sample_df['brands'].apply(capitalization)

In [63]:
business_flag = {
    'telecom': 1,
    'electronics': 5,
    'automotive': 7
}

sample_df['business_type'] = sample_df['business_type'].map(business_flag)

In [64]:
sample_df.head()

   brands   origin  business_type
0   Nokia  Finland              1
1    Sony    Japan              5
2   Tesla       US              7
3  Toyota    Japan              7
4  Nissan    Japan              7

### Appending a new Column

In [65]:
# Option 1
# When values are in a dictionary
# new_column = {
#     'ceo': ['Pekka Lundmark', 'Kenichiro Yoshida', 'Elon Musk', 'Akio Toyoda', 'Makoto Uchida']
# }

# sample_df['CEO'] = pd.DataFrame(data=new_column)


# Option 2
# When values are in a list
people = ['Pekka Lundmark', 'Kenichiro Yoshida', 'Elon Musk', 'Akio Toyoda', 'Makoto Uchida']

sample_df['CEO'] = people

In [66]:
sample_df

   brands   origin  business_type                CEO
0   Nokia  Finland              1     Pekka Lundmark
1    Sony    Japan              5  Kenichiro Yoshida
2   Tesla       US              7          Elon Musk
3  Toyota    Japan              7        Akio Toyoda
4  Nissan    Japan              7      Makoto Uchida

# Example with Lambda

In [67]:
prices = [
    4.00,
    6.00,
    5.00,
    2.00,
    1.00
]


exchange_rate_usd_aed = 3.67

prices_converted =  list(map(lambda arg: arg * exchange_rate_usd_aed, prices))

In [68]:
prices_converted

[14.68, 22.02, 18.35, 7.34, 3.67]